@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

/***********************************************************
*************************** RESET **************************
***********************************************************/
::selection {
  text-shadow: none;
  color: #000000;
  background: #2597ff; }

::-moz-selection {
  text-shadow: none;
  color: #000000;
  background: #2597ff; }

::-ms-selection {
  text-shadow: none;
  color: #000000;
  background: #2597ff; }

body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  color: #000;
  font-family: Arial, sans-serif;
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0;
  padding: 0;
  vertical-align: top; }
  td img {
    vertical-align: top; }

form {
  padding: 0;
  margin: 0; }

a {
  outline: none;
  color: #0001a9;
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }
  a:hover {
    text-decoration: underline;
    color: #ff0000; }
  a:active, a:focus, a:hover, a:link, a:visited {
    outline: 0; }

a,
span,
div,
button {
  outline: none !important; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  outline: none;
  -webkit-appearance: button;
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #000;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

::-webkit-textarea-placeholder {
  color: #000;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

input::-moz-placeholder {
  color: #000;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

input::-ms-placeholder {
  color: #000;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

textarea::-moz-placeholder {
  color: #000;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

textarea::-ms-placeholder {
  color: #000;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

button[disabled],
html input[disabled] {
  cursor: not-allowed; }

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="tel"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: none; }

input[type="text"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

input[type="text"]:focus::-moz-placeholder,
input[type="number"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

input[type="text"]:focus::-ms-placeholder,
input[type="number"]:focus::-ms-placeholder,
input[type="tel"]:focus::-ms-placeholder,
input[type="email"]:focus::-ms-placeholder,
textarea:focus::-ms-placeholder,
input[type="password"]:focus::-moz-placeholder {
  color: transparent;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

hr {
  height: 1px;
  padding: 0;
  border: none;
  margin: 20px auto;
  background: #000; }

mark {
  color: #000;
  background: #ff0; }

pre {
  margin: 1em 0;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  white-space: pre;
  white-space: pre-wrap;
  background: #efefef;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em; }

small {
  font-size: 80%; }

big {
  font-size: 125%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em;
  left: -0.3em; }

sub {
  bottom: -.25em;
  left: -0.3em; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

ins,
u {
  text-decoration: underline; }

del,
s {
  text-decoration: line-through; }

dl,
menu {
  margin: 1em 0 1em 1em;
  list-style: none; }

dd + dt {
  margin-top: 1em; }

dd {
  margin: 0 0 0 40px; }

nav ol,
nav ul,
ol,
ul {
  list-style: none; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

p {
  font-size: 14px;
  line-height: normal;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

[hidden] {
  display: none; }

/***********************************************************
*************************** HEADER *************************
***********************************************************/
header {
  order: 1;
  -webkit-order: 1;
  width: 100%;
  min-width: 320px;
  height: 80px;
  text-align: left;
  background: rgba(34, 34, 34, 0.75); }

.main-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  padding: 0;
  visibility: visible;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

.wrapper {
  position: relative;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 40px 0 40px;
  margin: 0 auto; }

.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  width: 160px;
  height: 160px;
  background: url(../img/loader.svg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.loaded .icon-load {
  display: block; }

/***********************************************************
************************** CONTENT *************************
***********************************************************/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: #bbbbbb; }

/***********************************************************
*************************** FOOTER *************************
***********************************************************/
footer {
  order: 3;
  -webkit-order: 3;
  width: 100%;
  min-width: 320px;
  height: 80px;
  text-align: left;
  background: #000; }

/***********************************************************
********************* RESPONSIVE STYLE *********************
***********************************************************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100 hv;
    width: 100%;
    display: flex;
    flex-direction: column; } }
