//  main styles
.main-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  position: relative;
  min-width: $min-width;
  width: 100%;
  min-height: 100%;
  padding: 0;
  visibility: visible;
  @include transition($default-transition);
}

.wrapper {
  position: relative;
  max-width: $max-width;
  min-width: $min-width;
  padding: 0 40px 0 40px;
  margin: 0 auto;
}

//  loader
.loaded .main-wrapper {
  visibility: hidden;
}

.icon-load {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  width: 160px;
  height: 160px;
  background: url(../img/loader.svg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  @include translate(-50%, -50%);
}

.loaded .icon-load {
  display: block;
}

/***********************************************************
************************** CONTENT *************************
***********************************************************/
.content {
  min-width: $min-width;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: #bbbbbb;
}