/***********************************************************
*************************** HEADER *************************
***********************************************************/
header {
  order: 1;
  -webkit-order: 1;
  width: 100%;
  min-width: $min-width;
  height: 80px;
  text-align: left;
  background: rgba(34, 34, 34, 0.75);
}