/***********************************************************
*************************** HEADER *************************
***********************************************************/
header {
  order: 1;
  -webkit-order: 1;
  width: 100%;
  min-width: $min-width;
  padding: 35px 0 0;
  text-align: left;
  background: #040404;
}

.header {
  &__top {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  &__content {
    padding: 80px 0;
  }
  &__text {
    @extend .plain-text;
    margin: 0 0 25px;
    color: $main-text-reverse;
  }
  &__title {
    @extend .title;
    margin: 0 0 20px;
    color: $main-text-reverse;
  }
  &__link-back {
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 1px solid transparent;
    @include radius(50px);
    margin-right: 40px;
    color: $title-color;
    line-height: 55px;
    text-align: center;
    background: #ffffff;
    @include shadow(0px 4px 10px rgba(0, 0, 0, 0.04));
    @include transition($default-transition);
    &:hover {
      border-color: $button-full-color;
      color: $button-full-color;
    }
  }
  &.main {
    background: #040404 url(../img/header-bg.png) no-repeat right center;
    .header {
      &__content {
        padding: 105px 0 225px;
      }
      &__title {
        max-width: 600px;
      }
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0;
    background: #f2f2f2;
    .header {
      &__content {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 40px 0;
      }
      &__title {
        margin: 0;
        color: $title-color;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

.logo {
  display: inline-block;
  &__img {
    display: block;
  }
}

.header-menu {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  &__nav {
    display: inline-block;
  }
  &__nav-link {
    display: inline-block;
    margin-right: 40px;
    color: $main-text-reverse;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      color: #d9b680;
    }
  }
  &__link {
    & + .header-menu__link {
      margin-left: 25px;
    }
  }
  &__authorized {
    position: relative;
    padding-left: 45px;
  }
  &__auth {
    &-user {
      @extend .header-menu__nav-link;
      cursor: pointer;
      padding-right: 15px;
      margin: 0;
      @include transition($default-transition);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        display: inline-block;
        border: 8px solid #ccc;
        border-right: 4px solid transparent;
        border-bottom: none;
        border-left: 4px solid transparent;
        @include transform(translate(0, -50%));
        @include transition($default-transition);
      }
      &.active {
        &:after {
          @include transform(translate(0, -50%) rotate3d(1, 0, 0, 180deg));
        }
      }
    }
    &-menu {
      position: absolute;
      top: -100%;
      right: 0;
      width: 160px;
      border-radius: 4px;
      background: #fff;
      @include transform(rotate3d(1, 0, 0, 90deg));
      @include transition($default-transition);
      &.active {
        top: calc(100% + 25px);
        @include transform(rotate3d(0, 0, 0, 90deg));
      }
    }
    &-menu-item {
      padding: 20px;
      border-bottom: 1px solid #e5e5e5;
      &:last-child {
        border: none;
      }
    }
    &-menu-link {
      @extend .header-menu__nav-link;
      margin: 0;
      color: $title-color;
    }
  }
}