/***********************************************************
********************* RESPONSIVE STYLE *********************
***********************************************************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100 hv;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1140px) {
  .wrapper {
    padding: 0 20px;
  }

  .slider-nav {
    right: 20px;
  }

  .footer-nav {
    &__social {
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-menu {
    &__button-switch {
      display: inline-block;
    }
    &__content {
      position: absolute;
      top: 0;
      right: -70px;
      z-index: 5;
      max-width: 280px;
      padding: 20px;
      background: rgba(0, 0, 0, .75);
      @include transform(rotate3d(0, 1, 0, 100grad));
      @include transition($default-transition);
      &.is-open {
        top: 0;
        right: 70px;
        @include transform(rotate3d(0, 0, 0, 100grad));
      }
    }
    &__nav {
      display: block;
      width: 100%;
      margin: 0 0 30px;
      order: 2;
    }
    &__nav-link {
      display: block;
      margin: 0 0 20px;
    }
    &__link {
      display: block;
      width: 100%;
      margin: 25px 0;
      text-align: center;
      &:nth-of-type(1) {
        order: 4;
        margin: 25px 0 0;
      }
      &:nth-of-type(2) {
        order: 3;
      }
    }
    &__authorized {
      order: 1;
      padding: 0;
      margin: 0 0 25px;
    }
    &__auth-user {
      margin: 0;
    }
    &__auth-menu-link {
      margin: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .pagination {
    text-align: center;
  }

  .header {
    &.main {
      -webkit-background-size: cover;
      background-size: cover;
    }
    &.sticky {
      .header__content {
        padding: 20px 0;
      }
    }
  }

  .results {
    &__indicators {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 0 80px;
      &-box {
        width: 47%;
        max-width: none;
        padding: 75px 15px 40px;
        margin: 0 0 55px;
      }
      &-val {
        font-size: 90px;
      }
    }
    &__description {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      &-box {
        width: 50%;
        margin: 0 0 60px;
      }
    }
  }

  .tariff {
    &__box {
      padding: 30px 20px 200px;
    }
    &__button {
      left: 20px;
      width: calc(100% - 40px);
    }
  }

  .blog {
    &__content {
      &:not(.slick-slider) {
        .blog__article {
          width: 33%;
          max-width: none !important;
        }
      }
    }
  }

  .footer-nav {
    &__contents-link {
      display: block;
      margin: 0 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .slider-nav {
    top: calc(100% + 10px);
  }

  .pagination {
    &__link {
      &:first-child, &:last-child {
        font-size: 0;
      }
      [class*="icon"] {
        display: inline-block;
        font-size: 14px;
      }
    }
  }

  .header {
    &.sticky {
      .header {
        &__link-back {
          margin-right: 20px;
        }
        &__title {
          width: calc(100% - 75px);
        }
      }
    }
  }

  .results {
    &__description {
      &-box {
        width: 100%;
        max-width: none;
      }
    }
  }

  .section-reviews {
    padding: 60px 0 0;
  }

  .reviews {
    &__head {
      margin: 0 0 80px;
    }
    &__title {
      padding: 0;
    }
  }

  .faq {
    &__head {
      margin: 0 0 80px;
    }
    &__title {
      padding: 0;
    }
  }

  .tariff {
    &__box {
      width: 100%;
      min-height: 350px;
      margin: 0 auto 25px;
    }
  }

  .blog {
    &__head {
      margin: 0 0 80px;
    }
    &__title {
      padding: 0;
    }
  }

  .login-hint {
    width: 100%;
  }

  .login-wrapper {
    width: 100%;
  }

  .blog {
    &__content {
      &:not(.slick-slider) {
        .blog__article {
          width: 48%;
        }
      }
    }
  }

  .subscription {
    &__input {
      padding-right: 115px;
    }
    &__button {
      padding: 15px 30px 15px;
      font-size: 0;
      [class*="icon"] {
        display: inline-block;
        font-size: 26px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pagination {
    &__link {
      padding: 16px 15px;
    }
  }

  .registration {
    &__field-box {
      text-align: center;
    }
    &__label {
      width: 100%;
      max-width: none;
      margin: 0 auto 35px;
      &:last-child {
        margin: 0 auto;
      }
    }
    &__textarea {
      width: 100%;
    }
  }

  .select2 {
    &.select2-container {
      text-align: left;
    }
  }

  .section-mail-confirm {
    padding: 80px 20px;
  }

  .payment {
    padding: 80px 20px;
  }

  .footer-nav {
    &__contents {
      display: block;
      width: 100%;
      margin: 0 0 60px;
      text-align: center;
    }
    &__social {
      margin: 0 auto;
      padding: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 38px;
  }

  .results {
    &__indicators {
      &-box {
        width: 100%;
      }
      &-val {
        font-size: 80px;
      }
    }
    &__description {
      &-caption {
        font-size: 18px;
      }
    }
  }

  .reviews {
    &__content {
      width: auto;
    }
  }

  .faq {
    &__content {
      width: auto;
    }
  }

  .login-hint {
    &__slider {
      width: 80%;
    }
  }

  .login-form {
    padding: 160px 20px 0;
    &__title {
      font-size: 30px !important;
    }
    &__link {
      margin-right: 10px;
    }
  }

  .blog {
    &__content {
      &:not(.slick-slider) {
        .blog__article {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 28px;
  }

  .pagination {
    &__link {
      padding: 16px 10px;
    }
  }

  .header-menu {
    &__button-switch {
      z-index: 6;
    }
    &__content {
      &.is-open {
        right: 20px;
      }
    }
  }

  .results {
    &__indicators-val {
      font-size: 80px;
    }
    &__description-caption {
      font-size: 18px;
    }
  }

  .reviews {
    &__card {
      max-width: 280px;
    }
    &__photo {
      object-fit: cover;
      object-position: top center;
    }
  }

  .faq {
    &__box {
      max-width: 280px;
      margin-right: 60px;
    }
  }

  .password-reset {
    &__btn {
      margin: 0 15px 0 0;
    }
  }
}