/***********************************************************
********************* RESPONSIVE STYLE *********************
***********************************************************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100 hv;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1140px) {
  .wrapper {
    padding: 0 15px;
  }

  .slider-nav {
    right: 20px;
  }

  .footer-nav {
    &__social {
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-menu {
    &__button-switch {
      display: inline-block;
    }
    &__content {
      position: absolute;
      top: 0;
      right: -70px;
      z-index: 5;
      max-width: 280px;
      padding: 20px;
      background: rgba(0, 0, 0, .75);
      @include transform(rotate3d(0, 1, 0, 100grad));
      @include transition($default-transition);
      &.is-open {
        top: 0;
        right: 70px;
        @include transform(rotate3d(0, 0, 0, 100grad));
      }
    }
    &__nav {
      display: block;
      width: 100%;
      margin: 0 0 30px;
      order: 2;
    }
    &__nav-link {
      display: block;
      margin: 0 0 20px;
    }
    &__link {
      display: block;
      width: 100%;
      margin: 25px 0;
      text-align: center;
      &:nth-of-type(1) {
        order: 4;
        margin: 25px 0 0;
      }
      &:nth-of-type(2) {
        order: 3;
      }
    }
    &__authorized {
      order: 1;
      padding: 0;
      margin: 0 0 25px;
    }
    &__auth-user {
      margin: 0;
    }
    &__auth-menu-link {
      margin: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .border-radius {
    @include radius(150px);
    &-t {
      @include radius(150px 150px 0 0);
    }
    &-t-l {
      @include radius(150px 0 0 0);
    }
    &-t-r {
      @include radius(0 150px 0 0);
    }
    &-r {
      @include radius(0 150px 150px 0);
    }
    &-b {
      @include radius(0 0 150px 150px);
    }
    &-b-r {
      @include radius(0 0 150px 0);
    }
    &-b-l {
      @include radius(0 0 0 150px);
    }
    &-l {
      @include radius(150px 0 0 150px);
    }
  }

  .pagination {
    text-align: center;
  }

  .header {
    &.main {
      -webkit-background-size: cover;
      background-size: cover;
    }
    &.sticky {
      .header__content {
        padding: 20px 0;
      }
    }
  }

  .progress-slider {
    &__box {
      margin-right: 15px;
    }
  }

  .results {
    &__indicators {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 30px 100px 0;
      margin: 0 0 80px;
      &-box {
        width: 50%;
        padding: 75px 15px 40px;
        margin: 0 0 55px;
      }
      &-val {
        font-size: 90px !important;
      }
    }
    &__description {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      &-box {
        width: 50%;
        margin: 0 0 60px;
      }
    }
  }

  .tariff {
    &__box {
      padding: 30px 20px 200px;
    }
    &__button {
      left: 20px;
      width: calc(100% - 40px);
    }
  }

  .blog {
    &__content {
      &:not(.slick-slider) {
        .blog__article {
          width: 33%;
          max-width: none !important;
        }
      }
    }
  }

  .footer-nav {
    &__contents {
      margin: 0 0 50px;
    }
    &__contents-link {
      margin: 0 20px 0 0;
    }
    &__social {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .slider-nav {
    top: calc(100% + 10px);
  }

  .pagination {
    &__link {
      &.first-button, &.last-button {
        font-size: 0;
      }
      [class*="icon"] {
        display: inline-block;
        font-size: 14px;
      }
    }
  }

  .header {
    &.sticky {
      .header {
        &__link-back {
          margin-right: 20px;
        }
        &__title {
          width: calc(100% - 75px);
        }
      }
    }
  }

  .progress-slider {
    padding: 0;
  }

  .results {
    &__indicators {
      padding: 30px 0 0;
    }
    &__indicators-box {

    }
  }

  .results {
    &__description {
      &-box {
        width: 100%;
        max-width: none;
      }
    }
  }

  .section-reviews {
    padding: 60px 0 0;
  }

  .reviews {
    &__head {
      margin: 0 0 80px;
    }
    &__title {
      padding: 0;
    }
  }

  .faq {
    &__head {
      margin: 0 0 80px;
    }
    &__title {
      padding: 0;
    }
  }

  .tariff {
    &__box {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      min-height: auto;
      padding: 40px;
      margin: 0 auto 25px;
    }
    &__box-top {
      width: 42%;
    }
    &__caption {
      margin: 0 0 15px;
    }
    &__price {
      position: static;
      font-size: 32px !important;
      &:after {
        margin-left: 5px;
        font-size: 32px;
      }
    }
    &__button {
      position: static;
      width: auto;
    }
  }

  .blog {
    &__head {
      margin: 0 0 80px;
    }
    &__title {
      padding: 0;
    }
  }

  .blog-article {
    &__img {
      margin: 0 0 45px;
    }
    &__list {
      padding: 0;
    }
  }

  .article {
    &__img {
      margin: 0 0 45px;
    }
    &__content {
      padding: 0;
    }
    &__list {
      padding: 0;
    }
  }

  .section-login {
    padding: 0 0 120px;
  }

  .login-hint {
    width: 100%;
    margin-left: -80%;
    text-align: right;
    .logo {
      margin-right: 8.888%;
    }
    &__slider {
      opacity: 0;
      visibility: hidden;
    }
  }

  .login-wrapper {
    width: 80%;
  }

  .blog {
    &__content {
      &:not(.slick-slider) {
        .blog__article {
          width: 48%;
        }
      }
    }
  }

  .subscription {
    &__input {
      padding: 16px 315px 16px 16px;
      font-size: 18px;
      &::-webkit-input-placeholder {
        color: $main-text-reverse;
        font-size: 18px;
      }
      &::-moz-placeholder {
        color: $main-text-reverse;
        font-size: 18px;
      }
      &::-ms-placeholder {
        color: $main-text-reverse;
        font-size: 18px;
      }
    }
    &__button {
      padding: 20px 30px;
      font-size: 12px;
      [class*="icon"] {
        display: none;
      }
    }
  }

  .how-works {
    padding: 80px 0;
    &__instruction {
      margin: 0;
    }
    &__instruction-box {
      width: 50%;
      padding: 0 50px;
      margin: 0 0 90px;
    }
  }

  .about-us {
    &__title {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .results {
    &__indicators-box {
      width: 100%;
    }
  }

  .tariff {
    &__box {
      display: inline-block;
      padding: 24px 24px 80px;
    }
    &__box-top {
      width: auto;
    }
    &__price {
      position: absolute;
      bottom: 25px;
    }
    &__button {
      position: absolute;
      right: 20px;
      bottom: 25px;
      left: auto;
      width: auto;
      padding: 10px 15px;
    }
  }

  .login-hint {
    .logo {
      margin-right: 5%;
    }
  }

  .pagination {
    &__link {
      padding: 16px 15px;
    }
  }

  .registration {
    &__field-box {
      text-align: center;
    }
    &__label {
      width: 100%;
      max-width: none;
      margin: 0 auto 35px;
      &:last-child {
        margin: 0 auto;
      }
    }
    &__textarea {
      width: 100%;
    }
  }

  .select2 {
    &.select2-container {
      text-align: left;
    }
  }

  .section-mail-confirm {
    padding: 80px 20px;
  }

  .payment {
    padding: 80px 20px;
  }

  .footer-nav {
    &__contents {
      display: block;
      width: 100%;
    }
    &__contents-link {
      display: block;
      margin: 0 0 20px;
    }
    &__social {
      margin: 0 auto;
      padding: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .border-radius {
    @include radius(50px);
    &-t {
      @include radius(50px 50px 0 0);
    }
    &-t-l {
      @include radius(50px 0 0 0);
    }
    &-t-r {
      @include radius(0 50px 0 0);
    }
    &-r {
      @include radius(0 50px 50px 0);
    }
    &-b {
      @include radius(0 0 50px 50px);
    }
    &-b-r {
      @include radius(0 0 50px 0);
    }
    &-b-l {
      @include radius(0 0 0 50px);
    }
    &-l {
      @include radius(50px 0 0 50px);
    }
  }

  .title {
    font-size: 24px;
  }

  .plain-text {
    font-size: 14px;
  }

  .slider-nav {
    display: none;
  }

  .results {
    &__indicators {
      &-box {
        width: 100%;
      }
      &-val {
        font-size: 80px;
      }
    }
    &__description {
      &-caption {
        font-size: 18px;
      }
    }
  }

  .reviews {
    &__head {
      margin: 0 0 30px;
    }
    &__content {
      width: auto;
    }
    &__card {
      max-width: 260px;
      height: 300px;
      padding: 25px;
      margin-right: 25px;
    }
    &__card-name {
      margin: 0 0 15px;
      font-size: 18px !important;
      line-height: 18px;
    }
    &__card-text {
      margin: 0 0 15px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .faq {
    &__head {
      margin: 0 0 30px;
    }
    &__content {
      width: auto;
    }
  }

  .tariff {
    &__head {
      margin: 0 0 30px;
    }
  }

  .login-hint {
    display: none;
    &__slider {
      width: 80%;
    }
  }

  .login-wrapper {
    width: 100%;
  }

  .login-form {
    padding: 160px 20px 0;
    &__title {
      font-size: 30px !important;
    }
    &__link {
      margin-right: 10px;
    }
  }

  .blog {
    &__head {
      margin: 0 0 30px;
    }
    &__content {
      &:not(.slick-slider) {
        .blog__article {
          width: 100%;
        }
      }
    }
  }

  .account {
    &__accordion-item-caption {
      padding: 23px;
      font-size: 18px !important;
    }
    &__accordion-item-trigger {
      width: 32px;
      height: 32px;
    }
    &__accordion-content {
      padding: 0;
    }
    &__accordion-content-item {
      padding: 15px;
    }
    &__accordion-content-item-caption {
      font-size: 14px;
    }
    &__accordion-content-item-text {
      font-size: 14px;
      line-height: normal;
    }
  }

  .how-works {
    padding: 60px 0;
    &__instruction {
      margin: 0 0 60px;
    }
    &__instruction-box {
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0 0 40px;
      text-align: left;
      &:last-child {
        margin: 0;
      }
    }
    &__instruction-img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0 15px 0 0;
    }
    &__img {
      margin: 0 0 25px;
    }
    &__slider-item {
      font-size: 16px !important;
    }
  }

  .subscription {
    &__input {
      height: 56px;
      padding: 16px;
      font-size: 18px;
      &::-webkit-input-placeholder {
        color: $main-text-reverse;
        font-size: 18px;
      }
      &::-moz-placeholder {
        color: $main-text-reverse;
        font-size: 18px;
      }
      &::-ms-placeholder {
        color: $main-text-reverse;
        font-size: 18px;
      }
    }
    &__button {
      position: static;
      width: 100%;
      padding: 20px 30px;
      margin: 15px 0 0;
      font-size: 12px;
      transform: none;
      [class*="icon"] {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .pagination {
    &__link {
      padding: 16px 10px;
    }
  }

  .header {
    &__content {
      padding: 80px 0 120px;
    }
    &.main {
      background-position: left -110px center;
      .header__content {
        padding: 70px 0 100px;
      }
    }
  }

  .header-menu {
    &__button-switch {
      z-index: 6;
    }
    &__content {
      &.is-open {
        right: 15px;
      }
    }
  }

  .results {
    padding: 60px 0;
    &__description-box {
      &:last-child {
        margin: 0;
      }
    }
    &__description-caption {
      font-size: 18px;
    }
  }

  .section-reviews {
    margin: 0 0 60px;
  }

  .reviews {
    &__card {
      max-width: 280px;
    }
    &__photo {
      object-fit: cover;
      object-position: top center;
    }
  }

  .section-faq {
    margin: 0 0 60px;
  }

  .faq {
    &__box {
      max-width: 280px;
      margin-right: 60px;
    }
  }

  .section-tariff {
    margin: 0 0 60px;
  }

  .tariff {
    &__caption {
      font-size: 18px !important;
    }
  }

  .section-blog {
    margin: 0 0 60px;
  }

  .blog {
    &__article {
      max-width: 215px;
      min-height: 300px;
      padding: 25px;
    }
  }

  .password-reset {
    &__btn {
      margin: 0 15px 0 0;
    }
  }

  .footer {
    padding: 60px 0;
  }

  .subscription {
    margin: 0 0 40px;
  }

  .footer-nav {
    margin: 0 0 40px;
  }
}