@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Bold.eot');
  src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Bold.woff') format('woff'),
  url('../fonts/subset-Roboto-Bold.ttf') format('truetype'),
  url('../fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Medium.eot');
  src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Medium.woff') format('woff'),
  url('../fonts/subset-Roboto-Medium.ttf') format('truetype'),
  url('../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/subset-Roboto-Regular.eot');
  src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
  url('../fonts/subset-Roboto-Regular.woff') format('woff'),
  url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
  url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/subset-RobotoSlab-Bold.eot');
  src: url('../fonts/subset-RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-RobotoSlab-Bold.woff2') format('woff2'),
  url('../fonts/subset-RobotoSlab-Bold.woff') format('woff'),
  url('../fonts/subset-RobotoSlab-Bold.ttf') format('truetype'),
  url('../fonts/subset-RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Icons fonts
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-cross: "\e908";
$icon-person: "\e906";
$icon-check: "\e907";
$icon-play: "\e900";
$icon-left-arrow-around: "\e901";
$icon-right-arrow-around: "\e902";
$icon-vk: "\e903";
$icon-telegram: "\e904";
$icon-instagram: "\e905";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-skype: "\eac5";
$icon-pinterest: "\ead2";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?clffz4');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?clffz4#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?clffz4') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?clffz4') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?clffz4##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-person {
  &:before {
    content: $icon-person;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-left-arrow-around {
  &:before {
    content: $icon-left-arrow-around;
  }
}
.icon-right-arrow-around {
  &:before {
    content: $icon-right-arrow-around;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}