@import '../utils/_mixins';
@import '../utils/_variables';

/***********************************************************
*************************** RESET **************************
***********************************************************/
::selection {
  text-shadow: none;
  color: $main-text-reverse;
  background: #d9b680;
}

::-moz-selection {
  text-shadow: none;
  color: $main-text-reverse;
  background: #d9b680;
}

::-ms-selection {
  text-shadow: none;
  color: $main-text-reverse;
  background: #d9b680;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-bg;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,
textarea {
  @include radius(0);
  outline: none;
  color: #000;
  font-family: $base-font-family;
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer
}

td {
  margin: 0;
  padding: 0;
  vertical-align: top;
  img {
    vertical-align: top;
  }
}

form {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  color: $link-color;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include transition($default-transition);
  &:hover {
    text-decoration: none;
    //color: #00a8ff;
  }
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    outline: 0;
  }
}

a,
span,
div,
button {
  outline: none !important
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  outline: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

::-webkit-input-placeholder {
  @extend .plain-text;
  color: $text-color;
  line-height: 18px;
  font-size: 18px;
  @include transition($default-transition);
}

::-webkit-textarea-placeholder {
  @extend .plain-text;
  color: $text-color;
  line-height: 18px;
  font-size: 18px;
  @include transition($default-transition);
}

input {
  &::-moz-placeholder {
    vertical-align: middle;
    color: $text-color;
    @include transition($default-transition);
  }
  &:-moz-placeholder {
    vertical-align: middle;
    color: $text-color;
    @include transition($default-transition);
  }
  &:-ms-input-placeholder {
    color: $text-color;
    @include transition($default-transition);
  }
}

textarea {
  &::-moz-placeholder {
    color: $text-color;
    @include transition($default-transition);
  }
  &:-ms-input-placeholder {
    color: $text-color;
    @include transition($default-transition);
  }
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  &:checked + .custom-checkbox {
    &:before {
      content: "\e907";
      position: absolute;
      top: 50%;
      left: 50%;
      color: $button-full-color;
      font-family: 'icomoon' !important;
      font-size: 15px;
      @include translate(-50%, -50%);
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  //background: none;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
  @include translate(0, -100%);
}

input[type="text"]:focus::-moz-placeholder,
input[type="number"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
  @include translate(0, -100%);
}

input[type="text"]:focus::-ms-placeholder,
input[type="number"]:focus::-ms-placeholder,
input[type="tel"]:focus::-ms-placeholder,
input[type="email"]:focus::-ms-placeholder,
textarea:focus::-ms-placeholder,
input[type="password"]:focus::-moz-placeholder {
  color: transparent;
  @include translate(0, -100%);
}

hr {
  height: 1px;
  padding: 0;
  border: none;
  margin: 20px auto;
  background: #000;
}

mark {
  color: #000;
  background: #ff0;
}

pre {
  margin: 1em 0;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  white-space: pre;
  white-space: pre-wrap;
  background: #efefef;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
  left: -0.3em;
}

sub {
  bottom: -.25em;
  left: -0.3em;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}

ins,
u {
  text-decoration: underline;
}

del,
s {
  text-decoration: line-through;
}

dl,
menu {
  margin: 1em 0 1em 1em;
  list-style: none;
}

dd + dt {
  margin-top: 1em;
}

dd {
  margin: 0 0 0 40px;
}

nav ol,
nav ul,
ol,
ul {
  list-style: none;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

//  titles
p {
  @include font($base-font-size, $base-line-height, $text-color);
  //padding: 15px 0 15px 0;
  font-weight: 400;
}

h1 {
  @include font($font-size-h1, $line-height-h1, $title-color);
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h2 {
  @include font($font-size-h2, $line-height-h2, $title-color);
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h3 {
  @include font($font-size-h3, $line-height-h3, $title-color);
  padding: 15px 0 15px 0;
  font-weight: 400;
}

//  text position
.text-left {
  text-align: left !important
}

.text-center {
  text-align: center !important
}

.text-right {
  text-align: right !important
}

.nowrap {
  white-space: nowrap !important;
}

[hidden] {
  display: none;
}

// main styles
.main-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  position: relative;
  min-width: $min-width;
  width: 100%;
  min-height: 100%;
  padding: 0;
  visibility: visible;
  @include transition($default-transition);
}

.wrapper {
  position: relative;
  max-width: $max-width;
  min-width: $min-width;
  padding: 0;
  margin: 0 auto;
}

// loader
.loaded .main-wrapper {
  visibility: hidden;
}

.icon-load {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  width: 160px;
  height: 160px;
  background: url(../img/loader.svg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  @include translate(-50%, -50%);
}

.loaded .icon-load {
  display: block;
}

// project-settings
%button-reset {
  position: relative;
  padding: 16px 25px;
  @include radius(4px);
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  @include transition($default-transition);
  &:hover {
    border: 1px solid $button-full-color;
    color: $button-full-color;
    background: transparent;
  }
  &[disabled] {
    color: rgba(4, 4, 6, 0.24);
    background: #e5e5e5;
    &:hover {
      border: 1px solid #e5e5e5;
      color: rgba(4, 4, 6, 0.24);
      background: #e5e5e5;
    }
  }
}

.border-radius {
  @include radius(250px);
  &-t {
    @include radius(250px 250px 0 0);
  }
  &-t-l {
    @include radius(250px 0 0 0);
  }
  &-t-r {
    @include radius(0 250px 0 0);
  }
  &-r {
    @include radius(0 250px 250px 0);
  }
  &-b {
    @include radius(0 0 250px 250px);
  }
  &-b-r {
    @include radius(0 0 250px 0);
  }
  &-b-l {
    @include radius(0 0 0 250px);
  }
  &-l {
    @include radius(250px 0 0 250px);
  }
}

.button {
  &-full {
    @extend %button-reset;
    border: 1px solid transparent;
    color: $title-color;
    background: $button-full-color;
  }
  &-transparent-bright {
    @extend %button-reset;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: $main-text-reverse;
    background: transparent;
  }
  &-transparent-dark {
    @extend %button-reset;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: $main-text-color;
    background: transparent;
  }
}

.title {
  color: $title-color;
  font-family: $custom-font-family;
  font-size: 48px;
}

.plain-text {
  opacity: .5;
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 18px;
}

.input-reset {
  height: 64px;
  padding: 30px 15px 10px;
  border: 1px solid #e5e5e5;
  @include radius(4px);
  color: $title-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background: #fff;
  &:focus + .custom-placeholder {
    top: 10px;
    line-height: 12px;
    font-size: 12px;
    @include translate(0%, 0%);
  }
}

.custom-placeholder {
  @extend .plain-text;
  position: absolute;
  top: 50%;
  left: 15px;
  line-height: 18px;
  font-size: 18px;
  //white-space: nowrap;
  transform: translate(0, -50%);
  @include transition($default-transition);
  &.require {
    &:after {
      content: '*';
      color: red;
    }
  }
  &.active {
    top: 10px;
    line-height: 12px;
    font-size: 12px;
    @include translate(0%, 0%);
  }
}

.check-wrap {
  padding-left: 40px;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  &:checked + .custom-check {
    &:before {
      content: "\e909";
      position: absolute;
      top: 50%;
      left: 50%;
      color: $button-full-color;
      font-family: 'icomoon' !important;
      font-size: 15px;
      @include translate(-50%, -50%);
    }
  }
}

.custom-check {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #e5e5e5;
  @include radius(4px);
  margin-right: 15px;
  vertical-align: middle;
  background: #fff;
  cursor: pointer;
  @include transition($default-transition);
  &:hover {
    border: 1px solid $button-full-color;
  }
  & + .check-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
  }
}

.select2 {
  &.select2-container {
    width: 100% !important;
    .selection {
      .select2-selection {
        height: 64px;
        border-color: #e5e5e5;
        &:before {
          content: attr(data-pholder);
          @extend .plain-text;
          position: absolute;
          top: 10px;
          left: 15px;
          font-size: 12px;
          line-height: 12px;
          white-space: nowrap;
        }
        &__rendered {
          height: 100%;
          padding: 35px 20px 10px 15px;
          color: $title-color;
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;
        }
        &__arrow {
          top: 50%;
          @include translate(0, -50%);
          width: 30px;
          b {
            border-width: 4px 3px 0 3px;
            border-color: #040404 transparent transparent transparent;
            margin: 0;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
          }
        }
      }
    }
    .dropdown-wrapper {

    }
  }

  &-container {

  }
  &-dropdown {
    border-color: #e5e5e5;
  }
  &-search {
    &__field {

    }
  }
  &-results {
    &__options {

    }
    &__option {
      &[aria-selected=true] {
        opacity: .5 !important;
        color: $title-color !important;
        background-color: rgba(217, 182, 128, 1) !important;
      }
      &--highlighted[aria-selected] {
        background-color: #d9b680 !important;
        color: white !important;
      }
    }
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #dc3545;
  margin-bottom: 10px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.d-block {
  display: block !important;
}

.form-error-message {
  vertical-align: middle;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  height: 50px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

input.filled + span.custom-placeholder {
  top: 10px;
  line-height: 12px;
  font-size: 12px;
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transform: translate(0%, 0%)
}